.matchbox {
    width: 230px;
    height: 100px;
    border: 2px solid #8B4513;
    background: #DEB887;
    display: flex;
    align-items: flex-start;
    padding: 5px;
    position: relative;
}

.matches-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.match {
    width: 5px;
    height: 40px;
    background: red;
    margin: 2px;
}

@keyframes fadeOut {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
}

.fade-out {
    animation: fadeOut 0.3s forwards;
}
.game {
    display: none;
}